<style>
  nav{
    width: 100%;
    height: 70px;
    background-color: #e10500;
    display: flex;
    justify-content: center;
}
.nav-wrapper{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
}
.links{
    display: inline-flex;
    align-items: center;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
    float: none;
    width: auto;
    margin: 0 10px 0 10px;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #1f1f27;
  }
</style>


<main>
  <nav>
    <div class="nav-wrapper">
      <div class="logo">
        <a href="/">
          <img src="/img/f1_logo.png" alt="">
        </a>
      </div>
      <div class="links">
        <ul>
          <li>
            <a href="/resultados">Ingresar Resultados</a>
          </li>
          <li>
            <a href="/totales">Puntaje periodo</a>
          </li>
          <li>
            <a href="/escuderia">Puntaje escudería</a>
          </li>
          <li>
            <a href="/abandonos">Abandonos piloto</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

 

</main>