

<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F1 Abandonos</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  
    <main class="table">
         {{>navbar}}
        <section class="table__header">
            <h1>Tabla de abandonos</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar piloto...">
                <img src="img/search.png" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">

                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> <span ></span></th>
                        <th>  <span ></span></th>
                        <th> Pilotos abandono <span ></span></th>
                        <th> Puntaje <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th>  <span ></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr> {{#each pilotos}}
                        <td> </td>
                        <td> <img src="{{pilotos}}" alt="">{{pilotos}}</td>
                        <td> {{@key}} </td>
                        <td> {{this}} </td>
                        <td>
                            <p class="status delivered">En Carrera</p>
                        </td>
                        
                        

                    </tr>
                     {{/each}}
                </tbody>
               
            </table>
        </section>

    </main>